<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>
      {% if page.title %}
      Matt Brace - {{ page.title }}
      {% else %}
      Matt Brace
      {% endif %}
    </title>
    <link rel="stylesheet" href="//ismarc.github.com/stylesheets/styles.css">
    <link rel="stylesheet" href="//ismarc.github.com/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//ismarc.github.com/javascripts/respond.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ismarc.github.com/javascripts/reddit_comments.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="//ismarc.github.com/stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div id="header">
      <nav>
        <li><a href="/">Home</a> |</li>
        <li><a href="/about.html">About</a> |</li>
        <li><a href="/contact.html">Contact</a></li>
        <li class="title"><h2>Ramblings of an Intellectual Thrillseeker</h2></li>
      </nav>
    </div><!-- end header -->

    <div id="categories">
      Categories
      <ul>
      {% for category in site.tags %}
      <li><a href="/categories/{{category[0]}}.html">{{category[0]}}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div class="wrapper">
      {{ content }}
    </div>
    <div id="footer">
      <span class="credits right">Hosted on GitHub Pages &mdash; Theme
      based on Midnight
      by <a href="http://twitter.com/#!/michigangraham">mattgraham</a>&nbsp;</span>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    
  </body>
</html>
